@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-header,
.btn-outline-primary {
    background-color: #800020;
    border-color: #800020;
}

.btn-outline-primary {
    color: #fff;
}

.btn-outline-primary:hover {
    background-color: #a0271a;
    border-color: #902419;
}

.text-muted {
    color: #6c757d;
}
